<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="formatter" value="${longdate:universalTime=False} | ${message}" />
  <!--Global logger format-->
  <targets>
    <target xsi:type="Console"
            name="consoleLogger"
            layout="${threadid} | ${formatter}"
            />
    <target xsi:type="File"
            name="debugLog"
            fileName="debugLog-${shortdate}.txt"
            archiveFileName="Logs/DebugArchive/debugLogged-${shortdate}.txt"
            maxArchiveFiles="5"
            archiveEvery="Day"
            layout="${threadid} | ${formatter}"
            keepFileOpen="false"
            />
    <target xsi:type="File"
            name="delayed"
            fileName="delayedMessagesLog.csv"
            keepFileOpen="false">
      <layout xsi:type="CsvLayout"
              delimiter="Comma"
              withHeader="false"
              quoting="Nothing">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level}" />
        <column name="message" layout="${gdc:custom}" />
      </layout>
    </target>
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" writeTo="consoleLogger"/>
    <logger name="*" writeTo="debugLog" minlevel="Debug"/>
    <logger name="Delayed" writeTo="delayed" minlevel="Info" />
  </rules>
</nlog>
